body{
  margin:0;
  display:flex;
  font-family:sans-serif;
  background:white;
}

/* SIDEBAR */
.sidebar{
  width:250px;
  background:#111;
  color:white;
  padding:30px 20px;
  display:flex;
  flex-direction:column;
  height:100vh;
  position:fixed;
}

.logo-area{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:30px;
}

.logo{
  font-size:22px;
}

.bolinhas{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.bola{
  width:18px;
  height:18px;
  border-radius:50%;
}

.vermelha{background:#ff3b30;}
.amarela{background:#ffcc00;}
.verde{background:#34c759;}

.novo-btn{
  width:45px;
  height:45px;
  border-radius:50%;
  border:none;
  background:white;
  font-size:22px;
  cursor:pointer;
  margin-bottom:30px;
}

.menu button{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border-radius:14px;
  border:none;
  background:#222;
  color:white;
  cursor:pointer;
}

/* MAIN */
.main{
  margin-left:270px;
  padding:60px;
  width:100%;
}

/* CALENDAR STYLE */
.calendar-style{
  position:absolute;
  top:30px;
  right:40px;
  text-align:center;
}

.month{
  background:#ff3b30;
  color:white;
  padding:4px 10px;
  border-radius:8px 8px 0 0;
  font-size:14px;
}

.day{
  background:white;
  border:1px solid #ddd;
  padding:10px 20px;
  border-radius:0 0 12px 12px;
  font-size:28px;
}

/* LISTA */
.item{
  background:white;
  padding:20px;
  border-radius:20px;
  margin-bottom:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  cursor:pointer;
  display:flex;
  align-items:center;
  gap:15px;
}

.item.feita{
  text-decoration:line-through;
  opacity:0.6;
}

.bolinha{
  width:15px;
  height:15px;
  border-radius:50%;
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:white;
  padding:40px;
  border-radius:25px;
  width:400px;
  position:relative;
}

.modal-box input{
  width:100%;
  padding:12px;
  margin-top:15px;
  border-radius:14px;
  border:1px solid #ccc;
}

.modal-box button{
  margin-top:20px;
  padding:12px;
  width:100%;
  border-radius:14px;
  border:none;
  background:black;
  color:white;
}

.fechar{
  position:absolute;
  top:15px;
  right:20px;
  background:none;
  border:none;
  font-size:20px;
  cursor:pointer;
}
