* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body{
  display:flex;
  font-family:'ITC American Typewriter', serif;
  background:
  linear-gradient(#f0f0f0 1px, transparent 1px),
  linear-gradient(90deg,#f0f0f0 1px, transparent 1px);
  background-size:40px 40px;
  background-color:white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SIDEBAR */

.sidebar{
  width:240px;
  background:black;
  color:white;
  padding:30px 20px;
  display:flex;
  flex-direction:column;
  position:fixed;
  height:100%;
}

.topo-sidebar{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:40px;
}

.logo{
  font-size:22px;
  font-weight:normal;
}

/* MAIN */

.main{
  margin-left:240px;
  padding:60px;
  width:100%;
  min-height:100%;
}

/* TAREFAS */

.tarefa{
  background:white;
  padding:20px;
  border-radius:20px;
  margin-bottom:20px;
  box-shadow:0 6px 18px rgba(0,0,0,0.08);
  cursor:pointer;
  display:flex;
  align-items:center;
  gap:15px;
  transition:0.2s;
}

.tarefa:hover{
  transform:scale(1.02);
}

.tarefa.feita{
  text-decoration:line-through;
  opacity:0.6;
}

.bolinha-tarefa{
  width:16px;
  height:16px;
  border-radius:50%;
}
